body {
  margin: 0;
  background: #0F1626;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.iphone {
  position: absolute;
  height: 700px;
}

.widgets {
  position: absolute;
  z-index: -1;
  scale: 0;
  border-radius: 40px;

}

#socials {
  background: linear-gradient(#ff348b, #e30217);
  border-radius: 30px;
  aspect-ratio: 1;
  height: 140px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
#fitness {
  margin-top: 100px; /* Adjust this value to move the element down */
  margin-right: -120px;
  width: 200px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}

#stocks {
  margin-top: 280px; /* Sleep companion*/
  margin-right:-120px;
  width: 260px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
}
#sleep {
  margin-top: -20px; /* vo22 */
  margin-right:-30px;
}
#apple-tv {
  margin-top: -180px; /* Adjust this value to move the element down */
  margin-right: 390px;
}
#find-my {
  margin-top: 180px; /* Adjust this value to move the element down */
  margin-right:-60px;
  width: 430px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */

}
#app-store {
  margin-top: 240px; /* Adjust this value to move the element down */
  margin-right: -180px;
  width: 350px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */ 
}
#screen-time {
  margin-top: 120px; /* Adjust this value to move the element down */
  margin-left: -160px;
  width: 380px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
 
}
#calendar {
  margin-left: 80px;
}
#weather {
  margin-top: -195px; /* Adjust this value to move the element down */
  margin-left: -80px;
  width: 270px; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */ 
}
a {
  text-decoration: none;
  font-size: 30px;
  font-family: sans-serif;
  background-color: white;
  aspect-ratio: 1;
  height: 50px;
  border-radius: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
